:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-bright: #6b4de0;
  --color-rich: #af9761;
  --font-heading: "Ariata", Georgia, serif;
  --font-body: "Avenir Next", sans-serif;
  --grid-unit: 8px; }

/*
  This CSS resource incorporates links to font software which is the valuable copyrighted
  property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
  redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
  Imaging with any questions regarding Web Fonts: http://www.fonts.com
*/
@font-face {
  font-family: "Ariata";
  src: url("../webfonts/fdc4b153-acf6-433d-b98c-cbd9a1f9b6f7.woff2") format("woff2"), url("../webfonts/dda7d6b6-3bf5-4ef3-b34b-2e7c99952014.woff") format("woff"), url("../webfonts/40307a30-778d-4084-b751-14a286a1e622.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Ariata W01";
  src: url("../webfonts/d85ed8d6-562d-4e75-9499-6112e058532c.woff2") format("woff2"), url("../webfonts/ff2d9e8b-fdb1-4adf-9272-1ae0dbd4dab2.woff") format("woff"), url("../webfonts/cfdf0728-c509-419a-bc98-c13d9d8e016f.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Ariata";
  src: url("../webfonts/932c96df-cb93-483f-a1c0-944925dfe6f7.woff2") format("woff2"), url("../webfonts/10fb6ab0-1de0-421d-8829-27e14abbb4a7.woff") format("woff"), url("../webfonts/7d46bc6f-50d2-4ca9-8e8f-4a661fd43964.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Avenir Next";
  src: url("../webfonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"), url("../webfonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"), url("../webfonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Avenir Next";
  src: url("../webfonts/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2") format("woff2"), url("../webfonts/f26faddb-86cc-4477-a253-1e1287684336.woff") format("woff"), url("../webfonts/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Avenir Next";
  src: url("../webfonts/3f380a53-50ea-4a62-95c5-d5d8dba03ab8.woff2") format("woff2"), url("../webfonts/8344e877-560d-44d4-82eb-9822766676f9.woff") format("woff"), url("../webfonts/b28b01d9-78c5-46c6-a30d-9a62c8f407c5.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "Avenir Next";
  src: url("../webfonts/aad99a1f-7917-4dd6-bbb5-b07cedbff64f.woff2") format("woff2"), url("../webfonts/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"), url("../webfonts/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

* {
  box-sizing: border-box; }

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important; }

html {
  font-size: 112.5%; }
  @media (min-width: 960px) {
    html {
      font-size: 150%; } }

body {
  background: var(--color-black);
  font-family: var(--font-body);
  width: 100vw; }

h1, h2, h3, h4, h5 {
  font-family: var(--font-heading);
  font-weight: normal;
  line-height: 1.2; }

h1 {
  font-size: 2em;
  letter-spacing: -.0145;
  font-weight: 500; }
  @media (min-width: 960px) {
    h1 {
      font-size: 2.7em; }
      h1.super {
        font-size: 3.917rem; } }

h2 {
  font-size: 1.778em;
  letter-spacing: -0.0068em; }
  h2 > span {
    color: var(--color-bright); }
  @media (min-width: 960px) {
    h2 {
      font-size: 2.917em; } }

h3 {
  font-size: 1.556em; }

p {
  line-height: 1.65; }

ul {
  margin: calc( var(--grid-unit) * 8) 0;
  padding-left: 1.25em; }
  ul > li {
    line-height: 1.65;
    margin-bottom: .8em;
    padding: 0; }

figure {
  margin: 0;
  line-height: 0; }
  figure > img {
    max-width: 100%; }

.toolbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: stretch;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 calc(var(--grid-unit)*2);
  z-index: 10; }
  @media (min-width: 960px) {
    .toolbar {
      height: 88px;
      padding: 0 calc(var(--grid-unit) * 4); }
      .toolbar .nav-link {
        font-size: 0.75em; } }
  .toolbar .nav-link {
    justify-content: center;
    font-weight: 500; }
    .toolbar .nav-link:first-child {
      justify-self: start; }
    .toolbar .nav-link:last-child {
      justify-self: end; }
    .toolbar .nav-link.logo {
      justify-content: center; }
      .toolbar .nav-link.logo > svg {
        height: 32px; }
  .toolbar a {
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    align-items: center; }

button,
.button {
  appearance: none;
  display: block;
  padding: calc(var(--grid-unit) * 3) calc(var(--grid-unit) * 3);
  text-align: center;
  width: 100%;
  margin: calc(var(--grid-unit) * 5) auto;
  border: 0px; }
  button.primary, button.bright,
  .button.primary,
  .button.bright {
    background-color: var(--color-bright);
    color: var(--color-white); }
  button.pale,
  .button.pale {
    background-color: var(--color-white);
    color: var(--color-black); }
  button.dark,
  .button.dark {
    background-color: var(--color-black);
    color: var(--color-white); }
  button.rich,
  .button.rich {
    background-color: var(--color-rich);
    color: var(--color-white); }
  @media (min-width: 960px) {
    button,
    .button {
      display: inline-block;
      width: auto;
      padding-left: calc(var(--grid-unit) * 6);
      padding-right: calc(var(--grid-unit) * 6);
      font-size: 0.75em; } }

a.button {
  text-decoration: none; }

.hero {
  background-color: var(--color-black);
  color: var(--color-white);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 calc(var(--grid-unit) * 2) 20vh; }
  @media (min-width: 960px) {
    .hero {
      padding: 0 calc(var(--grid-unit) * 4) 20vh; } }
  .hero-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden; }
    .hero-background:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background: radial-gradient(circle, transparent 50%, black 150%); }
      @media (min-width: 960px) {
        .hero-background:before {
          background: radial-gradient(circle, transparent 30%, black 100%); } }
    .hero-background .mountains {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 25vh;
      filter: blur(0.75px); }
      @media (min-width: 960px) {
        .hero-background .mountains {
          height: auto;
          width: 100%; } }
    .hero-background > img {
      height: 100%;
      position: relative;
      z-index: -1; }
      @media (min-width: 960px) {
        .hero-background > img {
          width: 100%;
          object-fit: cover; } }
  .hero h1 {
    position: relative;
    z-index: 0;
    margin-bottom: calc(var(--grid-unit) * 5);
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto; }
  .layout-services .hero {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    min-height: 100vh;
    padding-top: 45vh; }
    .layout-services .hero h2 {
      font-size: 1.556em;
      margin-top: calc(var(--grid-unit) * 8); }
    @media (min-width: 960px) {
      .layout-services .hero {
        display: block;
        padding-top: 25vh; }
        .layout-services .hero h1 {
          margin-top: 0;
          position: sticky;
          top: 25vh; }
        .layout-services .hero h2 {
          font-size: 1.417em; }
        .layout-services .hero p {
          font-size: .75em;
          line-height: 1.45; }
          .layout-services .hero p.is-large {
            font-size: 1rem; } }

main {
  margin-top: 100vh; }
  .layout-services main,
  .layout-contact main {
    margin-top: auto; }
  .layout-contact main {
    min-height: 100vh;
    padding: 10vh calc(var(--grid-unit) * 2); }
    @media (min-width: 960px) {
      .layout-contact main header {
        grid-column: 1 / 7;
        position: sticky;
        top: 10vh; }
        .layout-contact main header p {
          font-size: .75em; }
        .layout-contact main header a {
          color: var(--color-white);
          text-decoration: none;
          margin-left: 1em;
          font-weight: 500; }
          .layout-contact main header a:hover {
            border-bottom: 2px solid; }
      .layout-contact main .rfi {
        grid-column: 7 / end; } }

.layout-contact {
  color: var(--color-white); }
  .layout-contact .toolbar {
    background: var(--color-black); }
    .layout-contact .toolbar button {
      grid-column: 3;
      margin: 0;
      font-size: 2em;
      padding: 0;
      text-align: right;
      cursor: pointer; }

@media (min-width: 960px) {
  .layout-services h1 {
    grid-column: 1 / 7;
    position: sticky; } }

.panel {
  background: var(--color-white);
  color: var(--color-black);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: calc(var(--grid-unit) * 15) calc(var(--grid-unit) * 2); }
  .panel.theme--invert {
    background: var(--color-black);
    color: var(--color-white); }
  .panel.theme--bright {
    background: var(--color-bright);
    color: var(--color-white); }
  .panel.theme--rich {
    background: var(--color-rich);
    color: var(--color-white); }
  .panel--grid {
    width: 100%; }
    @media (min-width: 960px) {
      .panel--grid {
        display: grid;
        align-items: start;
        grid-column-gap: 2.25vw;
        grid: auto-flow/repeat(12, 1fr);
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto; }
        .panel--grid > article {
          grid-column: 1 / 7; }
          .panel--grid > article.page-intro {
            grid-column: 7 / end; }
        .panel--grid > aside {
          grid-column: 7 / end; }
        .panel--grid.breakout {
          max-width: none;
          width: 100vw;
          margin-left: calc(val(--grid-unit) * 2);
          margin-right: calc(val(--grid-unit) * 2); } }
  .panel.company .people--grid {
    display: grid;
    grid: auto / 1fr 1fr;
    grid-column-gap: calc(var(--grid-unit) * 2);
    width: 100vw;
    margin-left: calc(var(--grid-unit * -1));
    margin-right: calc(var(--grid-unit * -1));
    margin-top: calc(var(--grid-unit) * 9); }
  .panel.company .headshot-joel {
    transform: translatey(-30%); }
  @media (min-width: 960px) {
    .panel.company article {
      grid-column: 4 / 10;
      grid-row: 1; }
    .panel.company .people--grid {
      width: auto;
      grid-row: 2;
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
      grid: auto/repeat(6, 1fr);
      grid-column-gap: 2.25vw;
      margin-top: calc(var(--grid-unit) * 15); }
      .panel.company .people--grid .headshot-brendan {
        grid-column: 2 / 4; }
      .panel.company .people--grid .headshot-joel {
        grid-column: 4 / 6;
        transform: translatey(-15%); } }
  .panel.packages .package {
    padding-top: calc(var(--grid-unit) * 10); }
    .panel.packages .package.theme-bright h2 {
      color: var(--color-bright); }
    .panel.packages .package.theme-bright button {
      background-color: var(--color-bright); }
    .panel.packages .package.theme-rich h2 {
      color: var(--color-rich); }
    .panel.packages .package.theme-rich button {
      background-color: var(--color-rich); }
    .panel.packages .package header {
      position: relative; }
      .panel.packages .package header:before {
        opacity: .08;
        display: block;
        height: 75px;
        width: 200px;
        transform: translateX(-24px) translateY(-24px);
        position: absolute;
        left: 0;
        top: 0; }
        @media (min-width: 960px) {
          .panel.packages .package header:before {
            height: 226px;
            width: 315px;
            transform: translateX(-28%) translateY(-40%); } }
    .panel.packages .package:first-child header:before {
      content: url("../img/01.svg"); }
    .panel.packages .package:nth-child(2) header:before {
      content: url("../img/02.svg"); }
    .panel.packages .package:nth-child(3) header:before {
      content: url("../img/03.svg"); }
  @media (min-width: 960px) {
    .panel.packages {
      padding: 0; }
      .panel.packages .package {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 100vh; }
        .panel.packages .package#foundations:after {
          content: "";
          background-color: var(--color-white);
          background-image: url("../img/blocks.svg");
          background-size: 106px 100px;
          height: 100vh;
          grid-column: 2;
          position: sticky;
          top: 0; }
        .panel.packages .package#essentials:after {
          content: "";
          background-color: #643ad4;
          background-image: url("../img/windmill.svg");
          background-size: 160px 160px;
          height: 100vh;
          grid-column: 2;
          position: sticky;
          top: 0; }
        .panel.packages .package#allin:after {
          content: "";
          background-image: url("../img/bullseye.svg");
          background-size: auto 100%;
          background-position: center;
          height: 100vh;
          grid-column: 2;
          position: sticky;
          top: 0; }
        .panel.packages .package > article {
          background-color: var(--color-white);
          grid-column: 1;
          padding: calc(var(--grid-unit) * 20) calc(var(--grid-unit) * 10); }
          .panel.packages .package > article h2 {
            max-width: 76%; }
          .panel.packages .package > article p, .panel.packages .package > article li {
            font-size: .75em; }
      .panel.packages .addons {
        padding-top: calc(var(--grid-unit) * 20);
        padding-bottom: calc(var(--grid-unit) * 20); }
        .panel.packages .addons header {
          grid-column: 1 / 10;
          font-size: 1rem; }
          .panel.packages .addons header h2 {
            font-size: 1.417em; }
        .panel.packages .addons > article {
          grid-column: 1 / 7;
          font-size: .75em; }
        .panel.packages .addons h3 {
          margin-top: calc(var(--grid-unit) * 7); } }
  .panel.packages ul {
    margin: calc( var(--grid-unit) * 4) 0; }
  .panel.rfi h2 {
    font-size: 1.556em; }
  @media (min-width: 960px) {
    .panel.rfi .rfi-form {
      grid-column: 7 / end; } }
  @media (min-width: 960px) {
    .panel.about .panel--grid > article {
      position: sticky;
      top: 10vh; }
    .panel#who article {
      grid-column: 3 / 11; } }
  .panel.testimonial figure {
    display: none; }
  @media (min-width: 960px) {
    .panel.testimonial {
      align-items: center; }
      .panel.testimonial .button {
        margin-top: 0; }
      .panel.testimonial .quotemark {
        position: absolute;
        width: 104px;
        top: 0;
        left: 0;
        transform: translateY(-48px) translateX(-69px); }
      .panel.testimonial blockquote {
        grid-column: 3 / 8;
        position: relative; }
      .panel.testimonial figure {
        display: block;
        grid-column: 9 / end;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2); }
        .panel.testimonial figure img {
          border-radius: 5px 0 0 5px; } }

.about--work {
  display: grid;
  grid: auto auto / 1fr 1fr 1fr;
  grid-row-gap: calc(var(--grid-unit) * 8);
  align-items: start;
  margin-top: calc(var(--grid-unit) * 14); }
  @media (min-width: 960px) {
    .about--work {
      margin-top: calc(var(--grid-unit) * 50);
      margin-bottom: calc(var(--grid-unit) * 50);
      grid-row-gap: calc(var(--grid-unit) * 20); } }
  .about--work > figure {
    box-shadow: 24px 32px 40px 0 rgba(0, 0, 0, 0.1); }
    .about--work > figure:first-child {
      grid-row: 1;
      grid-column: 2 / end; }
    .about--work > figure:nth-child(2) {
      grid-row: 2;
      grid-column: 1 / 3; }

article.work-list ul, article.work-list li {
  list-style: none;
  margin: 0;
  padding: 0; }

article.work-list ul {
  max-width: 75vw; }

@media (min-width: 960px) {
  article.work-list {
    grid-column: 1 / 8; }
    article.work-list ul {
      max-width: none;
      columns: 2;
      column-gap: 5.5vw; }
      article.work-list ul li {
        margin-bottom: 1em; } }

blockquote {
  margin: 0; }
  blockquote > p {
    font-family: var(--font-heading);
    font-size: 1.333em;
    letter-spacing: -.0051em;
    margin-top: 0;
    line-height: 1.4;
    margin-bottom: calc(var(--grid-unit) * 4); }
    @media (min-width: 960px) {
      blockquote > p {
        font-size: 1.667em; } }
  blockquote .quotemark {
    width: 48px;
    opacity: .2; }
  blockquote cite {
    font-style: normal;
    font-size: 1.333em; }
    @media (min-width: 960px) {
      blockquote cite {
        font-size: 1rem; } }
  blockquote footer {
    font-weight: 500; }
    blockquote footer p {
      text-transform: uppercase;
      font-size: .667em;
      letter-spacing: .1em;
      margin-bottom: calc(var(--grid-unit) * 8); }
    @media (min-width: 960px) {
      blockquote footer {
        margin-top: calc(var(--grid-unit) * 6); } }

.site-footer {
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: .889em;
  padding: calc(var(--grid-unit) * 9) calc(var(--grid-unit) * 2); }
  .site-footer p {
    line-height: 1.5; }
  .site-footer a {
    color: var(--color-white); }
  .site-footer nav {
    margin-top: calc(var(--grid-unit) * 8); }
    .site-footer nav a {
      text-decoration: none; }
  .site-footer ul, .site-footer li {
    list-style: none;
    padding: 0; }
  .site-footer li {
    margin-bottom: 1em; }
  @media (min-width: 960px) {
    .site-footer {
      font-size: .75em;
      align-items: start;
      justify-content: start; }
      .site-footer .legal {
        grid-column: 1 / 7; }
        .site-footer .legal p.copyright {
          margin-top: 0; }
      .site-footer nav {
        grid-column: 10 / end;
        margin: 0; }
        .site-footer nav ul {
          margin: 0; } }

form label {
  position: relative;
  font-family: var(--font-body);
  letter-spacing: 0.08em; }
  form label span {
    display: block;
    color: #fff;
    font-size: 0.778em;
    font-weight: 700; }

form input,
form textarea {
  appearance: none;
  border: 1px solid var(--color-bright);
  font-size: 1em;
  font-family: var(--font-body);
  padding: calc(var(--grid-unit) *2) var(--grid-unit);
  width: 100%;
  transition: all 150ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }

form button {
  display: block;
  margin: 0 auto;
  width: 100%; }
